.totalBox {
    height: 700px;
    width: 859px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 10px 10px 10px 0px rgba(190, 190, 190, 0.48);
    position: relative;
    box-sizing: border-box;
}

/* 전체 내용 묶음 - 사용되지 않으면 삭제 */
.totalInfo {
    top: 30px; /* 필요없으면 삭제 */
}

/* 가계부 수정, 제목 파트 */
.nameRow {
    text-align: center;
    margin: 0 auto;
    height: 60px;
    width: 429px;
    position: absolute;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.totalBox > .totalInfo > .nameRow > div > h2 {
    color: red;
    margin: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* 세부 입력박스 파트 */
.infoRow {
    width: 800px;
    height: 500px;
    position: absolute;
    top: 200px;
    left: 59px;
    box-sizing: border-box;
}

.required::after {
    content: ' *';
    color: red;
    font-size: 30px;
    font-weight: bold;
}

.form-group select,
.form-group input {
    width: 460px;
    height: 40px;
    box-sizing: border-box;
    margin-top: 30px;
}

.form-group > label {
    font-size: 20px;
    font-weight: bold;
}

/* 일자, 시간 토막내기, 아이콘 크기 */
#date,
#time {
    width: 200px;
    height: 40px;
    box-sizing: border-box;
    margin-top: 30px;
}

i {
    font-size: 35px;
}
