.container {
    display: flex;
    align-items: flex-start;
    width: 600px;
    height: 200px;
    background-color: red;
}

.plusBox,
.minusBox {
    margin-right: 100px;
}

input[type='text'] {
    width: 150px;
    height: 100px;
}
.resultBox {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #000;
    background-color: #fff;
}
